.header
	background: url('/img/BG/1.jpg') center (center/cover) no-repeat
	color: $fff
	padding: 23px 0 82px; 
	text-align: center
	margin: 0
	h3 
		font-size: 24px
		font-weight: 300
		margin-bottom: 0
		line-height: 1em

	h1 
		color: $carrot
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 72px
		font-weight: 700
		text-transform: uppercase
		margin-top: 26px
		margin-bottom: 0
		line-height: 1em
	h2 
		font-family: "Roboto Condensed"
		font-size: 42px
		font-weight: 400
		text-transform: uppercase
		margin-bottom: 0
		line-height: 1em
		margin-top: 8px
